.signin-link {
    position: absolute;
    top: 40px;
    right: 40px;
}

.signin-link .have-account{
    font-size: 14px;
    line-height: 24px;
    color: #AFAFAF;
    margin-right: 12px;
}

.signin-link a {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #404040;
    text-decoration: none;
}
