.errorable {
    display: flex;
    position: relative;
}

.errorable .input-error {
    color: red;
    position: absolute;
    height: 0;
    bottom: -8px;
    font-size: 12px;
}

.errorable.error input.input,
.errorable.error .country-select,
.errorable.error .phone-text {
    border-color: #F54747;
}
