.password-input-container {
    display: flex;
    flex: 1;
    position: relative;
}

.show-password {
    position: absolute;
    right: 10px;
    top: 14px;
    cursor: pointer;
}

.show-password.shown {
    top: 6px;
}
