.phone-input-container {
    display: flex;
    flex: 1;
    position: relative;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
}

.phone-input-container .phone-code {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #F9F9F9;
    padding: 8px 12px;
}

.phone-input-container input.phone-text {
    border: none;
    margin-bottom: 0;
    outline: none;
}

.phone-input-container input.phone-text:focus-visible {
    border: none;
}
