.App {
  width: 830px;
  color: #404040;
  font-family: Ubuntu;
}

.header {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.input-title {
  font-size: 12px;
  line-height: 16px;
  color: #AFAFAF;
}

.input {
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 4px;
}
