.App {
  display: flex;
  width: 830px;
  height: 800px;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;

  font-family: Ubuntu;
  color: #404040;
}

.header {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.input-title {
  font-size: 12px;
  line-height: 16px;
  color: #AFAFAF;
}

input, select {
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  color: #404040;
}

.inputs-in-line {
  display: flex;
}

.inputs-in-line > * {
  flex: 1;
}

.inputs-in-line > *:not(:last-child) {
  margin-right: 20px;
}
